#SiteMainLayoutTable{
	position: relative;		
	}
	
	.WebShopSkinLogo{
	width: 160px;
	}   
	
	#Webshop-spacetop{
	height: 163px; 
	display: block; 
	position: fixed; 
	width: 100%; 
	z-index: 5;
	}
	
	#logo-row{
	background-color: #ff0000; 
	padding-top:10px; 
	padding-bottom: 10px; 
	height: 83px;
	}	
	
	img{
	display: block;
	}
	
	.row{
	width: 100%; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 0px; 
	margin.bottom: 0px; 
	max-width: 76.78rem; 
	padding:  0px auto 0px auto; 
	}
	
	body{
	margin: 0;
	}
		
	#logobox{
	position: relative; 
	left: 4rem; 
	padding-left: 0.89286rem; 
	padding-right: 0.89286rem; 
	width: 41.66667%; 
	max-width:800px;
	}
	
	#main-navbar{
	height: 60px; 
	background-color: #363636; 
	position: relative; 
	text-align:center; 
	align-items: center;
	}
	
	#page-content{
	position: relative; 
	top: 163px; 
	min-height:100%; 
	background-color: #ffffff; 
	height: 100%; 
	padding-bottom: 50px;
	
	}
	
	#menu-div{	
	max-width:900px;
	width: 498px;
	background-color: #363636; 
	height:inherit; 
	margin: 0 auto;		
	border: none;
	}

	.dropdown-Link{
	text-align: center;
	border:none;
	float: left;
	position: relative;
	display: inline-block;
	height: 60px;	

	}	
	
	.normal-link{
	text-align: center;
	border:none;
	float: left;
	position: relative;
	display: inline-block;
	height: 60px;	
	text-align: center;
	}	
	
	.menu-link{	
	float: left;
	background-color: #363636;
	color: whitesmoke;
	padding: 21px 10px; 21px; 10px;	/* total width 120px*/
	text-decoration: none;
	display: block;			
	font-family: Arial;
	font-size: 12;
	}	
	
	.dropdown-sub1{
		display: block;
		position: absolute;
		top: 100%;
		left: 0;		
	}
	
	
	
	.menu-link:hover{
	background-color: #2e2e2e;
	}	
	
	/*	dropdown Content (hidden by default)	*/	
	.dropdown-content{
	display: none;
	position: absolute;
	top: 60px;	
	background-color: #363636;
		
	z-index: 10;
	min-width: 120px;
	}
	
	.dropdown-content a{
	text-align:left;
	color: whitesmoke;
	padding: 16px 10px;
	text-decoration: none;
	display: block;
	font-family: Arial;
	font-size: 12;
	}
	
	
	/* Change background-color of dropdown links on hover */
	.dropdown-content a:hover {
	background-color: #2e2e2e;
	}
	
		
	/* Show the dropdown menu on hover */
	.dropdown-Link:hover .dropdown-content {
    display: block;
	}
	
	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown-Link:hover .menu-link {
    background-color: #2e2e2e;
	}
	
	.background-container{
	text-align: center;
	min-width: 800px;
	position: relative;	
	}
	
	.background-image{
	display: block;
	margin: 0 auto;
	max-width: none;
	position: fixed;
	top: 163px;
	
	}
	
	.transparent-div{
	position: relative;
	top: 16px;
	display: block;
	margin: auto;	
	z-index: 1;
	background: rgba(36,36,36,.70);
	height: 100%;	
	margin-bottom: 40px;
	
	width: 800px;
	max width: 800px;
	text-align: left;	
	align-items: center;
	border-radius: 5px 5px 5px 5px;
	}
	
	h1{
	font-family: Arial;
	padding: 0;
	margin: 0px 10px 0 10px;
	color: whitesmoke;
	text-align: center;
	}
	
	.regular-font{
	font-family: Arial;
	color: whitesmoke;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	}
	
	.footer{
	display: inline-block;
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 30px;
	background-color: #343434;
	z-index: 10;
	text-align: center;
	padding-bottom: 2px;
	}
	
	.footer-text{
	color: whitesmoke;
	font-family: Arial;
	font-size:12px;
	margin-top: 10px;
	}
	
	
	.picture-frame{
	width: 100%;
	text-align: center;
	}
	
	.content-picture{
	margin: auto;
	display: inline-block;	
	max-width: 780px;
	border-radius:  5px;
	}
	
	#payment-div{
	position: relative;	
	text-align: center;
	}
	
	#epay_paymentinfo ul li p, #epay_paymentinfo_full ul li p{
	color: white;
	
	}
	
	